@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Saira+Condensed:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Condensed', sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 6rem;

}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    color: #F48C38;
}

.menu {
    
}

.menu .menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 24px 0;
    border-bottom: 1px solid #eceaea;
}

.menu-content .menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-content .content-l {
    width: 580px;
}

.menu-content nav ul {
    display: flex;
    align-items: center;
}

.menu-content ul li {
    
}

.menu-content ul a {
    color: rgb(161, 157, 157);
    display: block;
    padding: 0 13px;
    position: relative;
}

.menu-content ul a:hover {
    color: black;
}

.menu-content ul a::after {
    content: '';
    position: absolute;
    top: 3.2rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: orangered;
    transition: all 300ms ease-in-out;
}

.menu-content ul a:hover::after {
    width: 58%;
    left: 25%;
}

.menu-content .content-r {
    width: 100px;
}

.menu-content .icon-profile img {
    width: 40px;
    height: 40px;
}

.main-bg {
    background: white;
}

.section {
    min-height: 100vh;
}

.intro {
    width: 1097px;
    padding: 80px 0;
    margin: 0 auto;
}

.intro .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid .grid-l .img-p img {
    width: 426px;
    border-radius: 14px;
}

.container {
    display: flex;
    width: 150px;
    height: 44px;
    border-radius: 4px;
    background: #F7F8FD;
    justify-content: center;
    align-items: center;
    
}

.container .row {
    width: 125px;
}

.container .col-md-12 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.container .col-md-12 input {
    width: 11px;
    border: 0;
    text-align: center;
    
}

.container .col-md-12 button {
    border: 0;
    background: none;
    color: #F48C38;
}

.container .col-md-12 button i {
    width: 4;
    height: ;
}